<div class="row">
    <div class="col-3">
        <div class="p-3" [ngClass]="myClassName">
            Div 1
        </div>
    </div>
    <div class="col-2">
        <input type="text" [(ngModel)]="myClassName" class="form-control">
    </div>
    <div class="col-3">
        <button class="btn" (click)="isActive = !isActive" 
        [ngClass]="isActive==true? 'btn-success':'btn-danger'">
            myButton
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <p [ngClass]="productPrice>500 ? 'text-danger':'text-primary'"> 
            Price $ {{productPrice}}
        </p>
    </div>
    <div class="col-2">
        <input type="text" [(ngModel)]="productPrice" class="form-control">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <div class="p-4" [ngStyle]="{'background-color':divBackColor}">
            Div 32
        </div>
    </div>
    <div class="col-2">
        <input type="text" [(ngModel)]="divBackColor" class="form-control">
    </div>
    <div class="col-3" [ngStyle] = 'myCss'>
        div 39
    </div>
</div>
<hr>

<div class="row">
    <div class="col-3">
        <div [class]="'p-4 ' + myClassName">
            Div 1
        </div>
    </div>
    <div class="col-2">
        <input type="text" [(ngModel)]="myClassName" class="form-control">
    </div>
    <div class="col-3">
        <button class="btn" (click)="isActive = !isActive" 
        [ngClass]="isActive==true? 'btn-success':'btn-danger'">
            myButton
        </button>
    </div>
</div>