<div class="row">
    <div [ngClass] = "isSidePanel() == true? 'col-8':'col-12'">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-8">
                        List
                    </div>
                    <div class="col-4 text-end">
                        <button class="btn btn-success" (click) = 'openSidePanel()'>
                            Open
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <span>
                    Main Page Information
                </span>
            </div>
        </div>
    </div>
    @if (isSidePanel()) {
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-8">
                        List
                    </div>
                    <div class="col-4 text-end">
                        <button class="btn btn-success" (click) = 'closeSidePanel()'>
                            Close
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <span>
                    Side Panel
                </span>
            </div>
        </div>
    </div>
    }

</div>